.status-bar {
    -fx-background-color: #fffff0;
    -fx-padding: 5;
}

.btn-reconnect {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-background-color: #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}